@page
@model Prueba6.Pages.VistaElectrodomestico.IndexModel

@{
    ViewData["Title"] = "Electrodomesticos";
}



<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" style="height:15rem;">

    <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="3000">
            <a href="https://www.soriana.com/">
                <img src="https://promoliquidescuentos.net/wp-content/uploads/2021/09/Martes-Y-Miercoles-Del-Campo-Soriana.jpg" style="object-fit: cover; height: 15rem;"
                     class="d-block w-100">
            </a>

        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <a href="https://www.soriana.com/">
                <img src="https://promociondescuentos.com/wp-content/uploads/2020/05/soriana-super-frutas-verduras-mayo-26-1280x720.jpg" style="object-fit:cover;height:15rem;" class="d-block w-100" alt="...">
            </a>
        </div>
        <div class="carousel-item" data-bs-interval="3000">
            <a href="https://www.soriana.com/">
                <img src="https://promoliquidescuentos.net/wp-content/uploads/2021/09/Ofertas-Soriana-Fin-de-Semana-24-de-septiembre-2021.webp" style="object-fit: cover; height: 15rem;" class="d-block w-100" alt="...">
            </a>
        </div>
    </div>
</div>

<h1>Electrodomesticos</h1>
<hr />
<div class="container">
    <div class="row row-cols-auto">

        @foreach (var item in Model.Electrodomestico)
        {
            <div class="col">
                <div class="card mt-4" style="width: 18rem;height:25rem;">
                    <img src="@Html.DisplayFor(modelItem => item.ImagenElectrodomesticos)"
                         class="card-img-top" style="width: 17rem; height: 13rem; object-fit: cover;" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.ArticuloElectrodomesticos)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.DescripcionElectrodomesticos)</p>
                        <div class="row mb-1">
                            <div class="col-6 ">
                                <h2 class="card-title">$@Html.DisplayFor(modelItem => item.PrecioElectrodomesticos)</h2>
                            </div>
                            <div class="col-6">
                                <a class="btn btn-primary btn-lg" asp-page="../VistaMiCarrito/Create" asp-route-producto="@item.ArticuloElectrodomesticos"
                                   asp-route-descripcion="@item.DescripcionElectrodomesticos" asp-route-precio="@item.PrecioElectrodomesticos"
                                   asp-route-imagen="@item.ImagenElectrodomesticos">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
